<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TECHMINDS TECHNOLOGIES</title>
    <link
      rel="stylesheet"
      href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css"
    />
    <link href="../static/styles.css" rel="stylesheet" />
  </head>
  <body>
    <input type="checkbox" id="nav-toggle" />
    <div class="sidebar">
      <div class="sidebar-brand">
        <h2>
          <span class="las la-chart-bar"></span
          ><span> Business Intelligence</span>
        </h2>
      </div>
      <div class="sidebar-menu">
        <ul>
          <li>
            <a href="index.html"
              ><span class="las la-igloo"></span><span>Dashboard</span></a
            >
          </li>
          <li>
            <a href="users.html"
              ><span class="las la-users"></span><span>Users</span></a
            >
          </li>
          <li>
            <a href="drivers.html"
              ><span class="las la-id-card"></span><span>Drivers</span></a
            >
          </li>
          <li>
            <a href="vehicles.html"
              ><span class="las la-car"></span><span>Vehicles</span></a
            >
          </li>
          <li>
            <a href="jmp.html"
              ><span class="las la-receipt"></span
              ><span>Journey Management</span></a
            >
          </li>
          <li>
            <a href="vehiclemanagement.html"
              ><span class="las la-clipboard-check"></span
              ><span>Vehicle Management</span></a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="main-content">
      <header>
        <h2>
          <label for="nav-toggle">
            <span class="las la-bars"></span>
          </label>
          Add Users
        </h2>
        <div class="search-wrapper">
          <span class="las la-search"></span>
          <input type="" placeholder="Search here..." />
        </div>
        <div class="user=wrapper">
          <span class="las la-user"></span>
          <div>
            <h4>John Doe</h4>
            <small>Super admin</small>
          </div>
        </div>
      </header>
      <main>
        <div class="button">
          <a href="users.html"><button>Back</button></a>
        </div>
        <div class="container">
          <form action="#">
            <div class="form first">
              <div class="details personal">
                <span class="title">User details</span>
                <div class="fields">
                  <div class="input-field">
                    <label>User Name</label>
                    <input type="text" placeholder="Enter User Name" required />
                  </div>
                  <div class="input-field">
                    <label>Password</label>
                    <input type="text" placeholder="Enter Password" required />
                  </div>
                  <div class="input-field">
                    <label>User Role</label>
                    <select required>
                      <option disabled selected>Select user Role</option>
                      <option>Super Admin</option>
                      <option>Admin</option>
                    </select>
                  </div>
                  <button class="Submit">
                    <span class="btnText">SUBMIT</span>
                    <i class="uil uil-navigator"></i>
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </main>
    </div>
    <script src="../static/script.js"></script>
  </body>
</html>
