<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TECHMINDS TECHNOLOGIES</title>
    <link
      rel="stylesheet"
      href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css"
    />
    <link href="../static/styles.css" rel="stylesheet" />
  </head>
  <body>
    <input type="checkbox" id="nav-toggle" />
    <div class="sidebar">
      <div class="sidebar-brand">
        <h2>
          <span class="las la-chart-bar"></span
          ><span>TECHMINDS VMS</span>
        </h2>
      </div>
      <div class="sidebar-menu">
        <ul>
          <li>
            <a href="{% url 'dashboard'%}"
              ><span class="las la-igloo"></span><span>Dashboard</span></a
            >
          </li>
          <li>
            <a href="http://127.0.0.1:8000/admin/auth/user/"
              ><span class="las la-users"></span><span>Users</span></a
            >
          </li>
          <li>
            <a href="http://127.0.0.1:8000/admin/vehicle_app/driver/"
              ><span class="las la-id-card"></span><span>Drivers</span></a
            >
          </li>
          <li>
            <a href="http://127.0.0.1:8000/admin/vehicle_app/vehicle/"
              ><span class="las la-car"></span><span>Vehicles</span></a
            >
          </li>
          <li>
            <a href="http://127.0.0.1:8000/admin/vehicle_app/aprover/"
                ><span class="las la-thumbs-up"></span
                ><span>Approvers</span></a
              >
            </li>
          <li>
            <a href="{% url 'journey' %}"
              ><span class="las la-receipt"></span
              ><span>Journey Management</span></a
            >
          </li>
          <li>
            <a href="{% url 'vehicle' %}"
              ><span class="las la-clipboard-check"></span
              ><span>Vehicle Management</span></a
            >
          </li>
            <li>
              <a href="{% url "fuel" %}"
                  ><span class="las la-gas-pump"></span
                  ><span>Fuels</span></a
                >
              </li>
            <li>
              <a href="{% url "tracking" %}"
                  ><span class="las la-chart-line"></span
                  ><span>Tracking</span></a
                >
              </li> 
        </ul>
      </div>
    </div>
    <div class="main-content">
      <header>
        <h2>
          <label for="nav-toggle">
            <span class="las la-bars"></span>
          </label>
          Add tracking 
        </h2>
        <div class="search-wrapper">
          <span class="las la-search"></span>
          <input type="" placeholder="Search here..." />
        </div>
        <div class="user=wrapper">
          <span class="las la-user"></span>
          <div>
            <h4>John Doe</h4>
            <small>Super admin</small>
          </div>
        </div>
      </header>
      <main>
        <div class="button">
          <a href="http://127.0.0.1:8000/admin/vehicle_app/tracking/">
          <button>VIEW TRACKING</button>
        </a>
        </div>
        <br />
        <div class="container">
            <form action="tracking" method="post">
              {% csrf_token %}
                <div class="form first">
                    <div class="details personal">
                        <span class="title">Vehicle tracking Details</span>
                        <div class="fields">
                          <div class="input-field">
                            <label>VEHICLE</label>
                            <select required name="vehicle">
                                <option disabled selected>Select vehicle</option>
                                {%for vehicle in vehicles%}
                                <option>{{vehicle.Plate_no}}</option>
                                {%endfor%}
                            </select>
                        </div>
                        <div class="input-field">
                          <label>DRIVER</label>
                          <select required name="driver">
                              <option disabled selected>Select Driver</option>
                              {%for driver in drivers%}
                              <option>{{driver.name}}</option>
                              {%endfor%}
                          </select>
                      </div>
                            <div class="input-field">
                                <label>DATE</label>
                                <input type="date" name="date" placeholder="Enter fueling date" required>
                            </div>
                            <div class="input-field">
                                <label>DAILY VEHICLE TRACKING DISTANCE</label>
                                <input type="number" name="distance" placeholder="Enter vehicle tracking distance" required>
                            </div>
                            <div class="input-field">
                              <label>OVERSPEEDING</label>
                              <input type="text" name="speeding" placeholder="Enter overspeeding" required>
                          </div>
                          <div class="input-field">
                            <label>JMP DAILY DISTANCE</label>
                            <input type="number" name="jmpdistance" placeholder="Enter jmp daily distance" required>
                        </div>
                        <button class="sumbit">
                            <span class="btnText">Submit</span>
                            <i class="uil uil-navigator"></i>
                        </button>
                    </div>
                </div> 
            </div>
        </form>
    </div>
      </main>
    </div>
    <script src="../static/script.js"></script>
  </body>
</html>
